.contact-section {
    text-align: center;
    padding: 50px 20px;
    color: white;
}

.contact-section h2 {
    margin-bottom: 20px;
}

.contact-section p {
    margin-bottom: 20px;
}

.form-container {
    max-width: 100%;
    width: 90%;
    max-width: 600px;
    background: linear-gradient(#212121, #212121) padding-box,
    linear-gradient(145deg, transparent 35%, #ffeb3b, #ffeba7) border-box;
    border: 2px solid transparent;
    padding: 32px 24px;
    font-size: 14px;
    font-family: inherit;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 16px;
    margin: auto;
}

.form-container button:active {
    scale: 0.95;
}

.form-container .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-container .form-group label {
    color: #bbb;
    font-weight: 600;
    font-size: 1rem;
}
.form-group label{
    margin-top: 1rem;
}

.form-container .form-group input,
.form-container .form-group textarea {
    width: 100%;
    padding: 16px 16px;
    border-radius: 8px;
    color: #fff;
    font-family: inherit;
    background-color: transparent;
    border: 1px solid #414141;
}

.form-container .form-group input::placeholder,
.form-container .form-group textarea::placeholder {
    opacity: 0.6;
    color: #ccc;
}

.form-container .form-group input:focus,
.form-container .form-group textarea:focus {
    outline: none;
    border-color: #ffeb3b;
}

.form-container .form-submit-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: inherit;
    font-weight: 600;
    width: 100%;
    background: #313131;
    border: 1px solid #414141;
    padding: 12px;
    font-size: inherit;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.3s ease;
    color: white;
}

.form-container .form-submit-btn:hover {
    background-color: #ffeb3b;
    border-color: #ffeb3b;
    color: black;
}

/* Responsive Design */
@media (max-width: 480px) {
    .form-container {
        width: 90%;
        padding: 24px;
    }
}