* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #000000;
    font-family: "Montserrat", sans-serif;
}

h2 {
    color: white;
    font-weight: 700;
    font-size: 2.5em;
    transform: translateZ(25px);
}

h2::after {
    content: "";
    display: block;
    width: 80px;
    height: 4px;
    background: #ffeb3b;
    margin: 0.5rem auto 0;
}